# Dependencies
node_modules

# Build outputs
dist
.next

# Environment variables (contains secrets!)
.env
.env.local
.env.*.local

# Database
*.db
*.db-journal

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*

# Temp files
packages/database/query.js
